<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div class="header">
        <h1>Welcome to Software Design</h1>
        <nav>
            <ul>
                <!-- Assuming '/' for Home and '/about' for About as defined in app.py -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <hr>
    </div>
    <br>
    
    <div class="content">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>
